<style>

  .nav{
    background-color: #000000;
    border-radius: 0px 0px 0px 0px  }

  .hi {
    color: dimgrey;
    text-indent: 70px;
    font-size: 20px;
  }

  .Date{
    font-size: 16px;
    text-indent: 40px;
  }

  h1{
    font-size: 40px;

  }
  .Incubation{
      width: 300px;
      background-color: black;
      height: 5px;
      width: 400px;
  }

  .II{
    padding-left: 200px;

  }

  .title{
    font-size: 35px;
  }

  .one{
    background-color: dimgrey;
    height: 5px;
    width: 400px;
    border: solid 1px black;
  }

  .three{
    background-color: black;
    height: .04%;
    width: 10%;
    border: solid 2px dimgray;
    transition-duration: 500ms;
    transition-property: width;
    transition-timing-function: ease-out;
  }

  .three:hover {
      width: 60%;
  }

  .four{
    background-color: black;
    height: .4%;
    width: 30%;
    border: solid 2px dimgray;
    transition-duration: 500ms;
    transition-property: width;
    transition-timing-function: ease-out;
  }

  .four:hover{
    width: 75%;
  }

  .KiteRunnerImage{
    height: 11%;
    width: 17%;
    transition-duration: 500ms;
    transition-property: width,height;
    transition-timing-function: ease-out;
  }

  .KiteRunnerImage:hover{
    height: 13%;
    width: 20%;
  }

  .angel{
    width: 30%;
    height: auto;
    transition-duration: 500ms;
    transition-property: width,height;
    transition-timing-function: ease-out;
  }

  .angel:hover{
    width: 40%;
    height: auto;
  }

  .chains{
    width: 23%;
    height: auto;
    transition-duration: 500ms;
    transition-property: width,height;
    transition-timing-function: ease-out;
  }

  .chains:hover{
    width: 32%;
    height: auto;
  }

  .brain{
    width: 20%;
    height: auto;
    transition-duration: 500ms;
    transition-property: width,height;
    transition-timing-function: ease-out;
  }

  .brain:hover{
    width: 30%;
    height: auto;
  }

  .p1{
    font-size: 150%;
  }

</style>